h1{
    font-family: 'Ubuntu',Helvetica,Arial,sans-serif;
    font-size: 20px;
    letter-spacing:1px;
    text-transform: uppercase;
    line-height: 25px;
    text-decoration: none;
}
h3{
    font-family: 'Ubuntu',Helvetica,Arial,sans-serif;
    font-size: 35px;
    line-height: 50px;
    text-decoration: none;
}
h2,h4,h5{
    font-family: 'Ubuntu',Helvetica,Arial,sans-serif;
    font-size: 35px;
    line-height: 50px;
    text-decoration: none;
}
h6{
    font-family: 'Ubuntu',Helvetica,Arial,sans-serif;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
}


p,div{
    font-family: 'Vollkorn',Georgia,Times,serif;
    font-size: 20;
    line-height: 25px;
}

table{
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    border: 1 #789048;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 15px;
    text-decoration: none;

    width: 100%;
    max-width: 600px;
    border-collapse: collapse;
    border: 0px;
    margin: 5px auto;
    background: #F0F0D8;
}

th{
    font-family: 'Ubuntu',Helvetica,Arial,sans-serif;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    border: 0 none;
    letter-spacing: 1px;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
    width: 25%;
    font-weight: lighter;
    background-color: #789048;
    color: #F0F0D8;
    border: 0px;
}
tr{
    border: 0px solid #ccc;
}
tr:last-child{
    border: 0px;
}
td{
    border: 0px solid #789048;
    padding: 3px;
    font-size: 10px;
    line-height: 20px;
}
td:last-child{
    border: 0px;
}

body{
/*    background: url(img/mooning.png) repeat 0 0;
  */  background-color:#F0F0D8;
}

select{
    font-size: 10px;
    line-height: 20px;
}

.btn{
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    padding: 4px 12px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus{
    outline: 0 none;
}

.btn-primary{
    background: #789048;
    color: #F0F0D8;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary{
    background: #607848;
}

.btn-primary:active, .btn-primary.active{
    background: #607848;
    box-shadow: none;

}

