
<div class="container-fluid" ng-controller="codeDownloader" id="codeDownloaderContainer">
  <div class="panel panel-primary">
    <div align="center" class="panel-heading">
      <h1>Download Your Code:</h1>
    </div>
    <div class="panel-body">
      <div class="container-fluid" align="center">
        <a id="mainDownload"><h6>main.cpp</h6></a>
        <table ng-repeat="object in objects" on-finish-render="updateAllFiles()">
          <tr>
            <td style="padding:0px;" align="center">
                <a id="{{'headerFile_'+$index}}">
                    <h6>{{object.className}}.h</h6>
                </a>
            </td>
            <td style="padding:0px;" align="center">
                <a id="{{'cppFile_'+$index}}">
                    <h6>{{object.className}}.cpp</h6>
                </a>
            </td>
          </tr>
        </table>
        <button class="btn btn-primary" ng-click="updateAllFiles()">Refresh</button>
      </div>
    </div>
  </div>
</div>
