        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" ng-repeat="object in objects" ng-show="selectedClass==$index">
          <div class="panel panel-default">
            <div class="panel-heading" align="center">
              <h2>{{object.className}}</h2>
            </div>

            <!-- begin column for methods -->
            <div class="well">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="border:0px">
                  <h3 align="center">Methods</h3>
                  <button class="btn btn-primary" ng-click="setShowMethods(objects.indexOf(object))" ng-show="object.showMethods" >
                    <span class="glyphicon glyphicon-circle-arrow-up"></span>
                  </button>
                  <button class="btn btn-primary"  ng-click="setShowMethods(objects.indexOf(object))" ng-show="!object.showMethods">
                    <span class="glyphicon glyphicon-circle-arrow-down"></span>
                  </button>
                  <table align="center" border="2">
                    <tr ng-show="object.showMethods">
                      <th>Edit</th>
                      <th>Return</th>
                      <th>Name</th>
                      <th>Params</th>
                    </tr>
                    <!-- show method names -->
                    <tbody ng-show="object.showMethods" ng-repeat="classMethod in object.methods">
                      <tr>
                        <td align="center" ng-show="!classMethod.editMode">
                            <button class="btn btn-primary" ng-click="setMethodEditMode(objects.indexOf(object),$index)">
                                <span class="glyphicon glyphicon-edit"></span>
                            </button>
                        </td>

                        <td align="center" ng-show="classMethod.editMode">
                            <button class="btn btn-primary" ng-click="setMethodEditMode(objects.indexOf(object),$index)">
                                <span class="glyphicon glyphicon-floppy-saved"></span>
                            </button>
                        </td>

                        <td align="center" ng-show="!classMethod.editMode">{{classMethod.return}}</td>
                        <td align="center" ng-show="!classMethod.editMode">{{classMethod.name}}</td>

                        <td align="center" ng-show="classMethod.editMode">
                            <input id="{{'editMethodreturn_'+objects.indexOf(object)+'_'+$index}}" ng-keyup="changeMethod(objects.indexOf(object),$index,'return')" value="{{classMethod.return}}" type="text" placeholder="return type" style="width: 100%;box-sizing: border-box;"/>
                        </td>

                        <td align="center" ng-show="classMethod.editMode">
                          <input id="{{'editMethodname_'+objects.indexOf(object)+'_'+$index}}" ng-keyup="changeMethod(objects.indexOf(object),$index,'name')" value="{{classMethod.name}}" type="text" placeholder="name" style="width: 100%;box-sizing: border-box;"/>
                        </td>
                        <td align="center" ng-show="object.showParams">
                          <button class="btn btn-primary" ng-click="setShowParams(objects.indexOf(object))">
                            <span class="glyphicon glyphicon-circle-arrow-up"></span>
                          </button>
                        </td>
                        <td align="center"  ng-show="!object.showParams">
                          <button class="btn btn-primary" ng-click="setShowParams(objects.indexOf(object))">
                            <span class="glyphicon glyphicon-circle-arrow-down"></span>
                          </button>
                        </td>

                        <tr>
                            <td colspan="4" align="left" ng-show="!classMethod.editMode">
                                <pre>{{classMethod.body}}</pre>
                            </td>

                            <td colspan="4" align="center" ng-show="classMethod.editMode">
                                <textarea id="{{'editMethodbody_'+objects.indexOf(object)+'_'+$index}}" ng-keyup="changeMethod(objects.indexOf(object),$index,'body');handleTab($event,$event.target,this.id)" ng-keydown="handleTab($event,$event.target,this.id)" value="{{classMethod.body}}" type="text" placeholder="{{classMethod.body}}" style="width: 100%;box-sizing: border-box;" >{{classMethod.body}}</textarea>
                            </td>

                        </tr>



                      </tr> <!-- end of edit mode -->

                    <!-- ENTER SHOW PARAMETER MODE -->

                        <tr>
                          <div class="container-fluid">
                          <tr ng-show="object.showParams">
                            <th></th>
                            <th>Type</th>
                            <th>Name</th>
                            <th>Default Value</th>
                          </tr>

                          <tr ng-show="object.showParams" ng-repeat="param in classMethod.params">
                            <td align="center">
                              <button class="btn btn-primary" ng-click="toggleParamEditMode(objects.indexOf(object),objects[objects.indexOf(object)].methods.indexOf(classMethod),$index)">
                                <span class="glyphicon glyphicon-edit" ng-show="!param.editMode"></span>
                                <span class="glyphicon glyphicon-floppy-save" ng-show="param.editMode"></span>
                              </button>
                            </td>
                            <td align="center" ng-show="!param.editMode">{{param.type}}</td>
                            <td align="center" ng-show="param.editMode">
                              <input id="{{'parameEditType_'+objects.indexOf(object)+'_'+objects[objects.indexOf(object)].methods.indexOf(classMethod)+'_'+$index}}" type="text" value="{{param.type}}" style="width: 100%;box-sizing: border-box;"/>
                            </td>
                            <td align="center" ng-show="!param.editMode">{{param.name}}</td>
                            <td align="center" ng-show="param.editMode">
                              <input id="{{'parameEditName_'+objects.indexOf(object)+'_'+objects[objects.indexOf(object)].methods.indexOf(classMethod)+'_'+$index}}" type="text" value="{{param.name}}" style="width: 100%;box-sizing: border-box;"/>
                            </td>
                            <td align="center" ng-show="!param.editMode">{{param.value}}</td>
                            <td align="center" ng-show="param.editMode">
                              <input id="{{'parameEditValue_'+objects.indexOf(object)+'_'+objects[objects.indexOf(object)].methods.indexOf(classMethod)+'_'+$index}}" type="text" value="{{param.value}}" style="width: 100%;box-sizing: border-box;"/>
                            </td>
                          </tr>
                          <!-- edit boxes -->
                          <tr ng-show="object.showParams">
                            <td></td>
                            <td align="center">
                              <input id="{{'newParamType_'+objects.indexOf(object)+"_"+$index}}" type="text" placeholder="type" style="width: 100%;box-sizing: border-box;"/>
                            </td>
                            <td align="center">
                              <input id="{{'newParamName_'+objects.indexOf(object)+"_"+$index}}" type="text" placeholder="name" style="width: 100%;box-sizing: border-box;"/>
                            </td>
                            <td align="center">
                              <input id="{{'newParamsValue_'+objects.indexOf(object)+"_"+$index}}" type="text" placeholder="Default Value" style="width: 100%;box-sizing: border-box;"/>
                            </td>
                          </tr>
                        </div>
                        </tr>
                    </tbody>

                    <!-- edit boxes -->
                    <tr ng-show="object.showMethods && !object.showParams">
                      <td></td>
                      <td align="center">
                        <input id="{{'newMethodReturn_'+objects.indexOf(object)}}" type="text" placeholder="return type" style="width: 100%;box-sizing: border-box;"/>
                      </td>
                      <td align="center">
                        <input id="{{'newMethodName_'+objects.indexOf(object)}}" type="text" placeholder="name" style="width: 100%;box-sizing: border-box;"/>
                      </td>
                      <td align="center">
                        <input id="{{'newMethodParams_'+objects.indexOf(object)}}" type="text" placeholder="TODO_params" style="width: 100%;box-sizing: border-box;"/>
                      </td>
                    </tr>




                      <!-- body of method goes here -->
                      <tr ng-show="object.showMethods &&!object.showParams">
                          <td colspan="4" align="center">
                          <textarea id="{{'newMethodBody_'+objects.indexOf(object)}}" type="text" ng-keyup="handleTab($event,$event.target,this.id)" ng-keydown="handleTab($event,$event.target,this.id)" placeholder="Method Body" style="width:100%; box-sizing: border-box;"></textarea>
                          </td>
                      </tr>




                    <tr ng-show="object.showMethods && !object.showParams">
                      <td colspan="4" align="center">
                        <button class="btn btn-primary" ng-click="addClassMethod(objects.indexOf(object))">
                          <span class="glyphicon glyphicon-plus"></span>
                        </button>
                      </td>
                    </tr>
                    <tr ng-show="object.showParams">
                      <td colspan="4" align="center">
                          <!--
                        <button class="btn btn-primary" ng-click="addClassMethodParam(objects.indexOf(object))">
                          <span class="glyphicon glyphicon-plus"></span>
                        </button>
                          -->
                      </td>
                    </tr>
                  </table>
                </div>

                <!--<td>--> <!-- begin column for data-->
                <div class="col-lg-6" style="border:0px solid black">
                  <h3 align="center">Data</h3>
                  <button class="btn btn-primary" ng-click="setShowData(objects.indexOf(object))" ng-show="object.showData">
                    <span class="glyphicon glyphicon-circle-arrow-up"></span>
                  </button>
                  <button class="btn btn-primary" ng-click="setShowData(objects.indexOf(object))" ng-show="!object.showData">
                    <span class="glyphicon glyphicon-circle-arrow-down"></span>
                  </button>

                  <table border="2">
                    <tr ng-show="object.showData">
                      <th></th>
                      <th align="center">Type</th>
                      <th align="center">Name</th>
                      <th align="center">Value</th>
                    </tr>
                    <tr ng-show="object.showData" ng-repeat="classVar in object.vars">
                      <td align="center" ng-show="!classVar.editMode"><button class="btn btn-primary" ng-click="setVarEditMode(objects.indexOf(object),$index)"><span class="glyphicon glyphicon-edit"></span></button></td>
                      <td align="center" ng-show="classVar.editMode"><button class="btn btn-primary" ng-click="setVarEditMode(objects.indexOf(object),$index)"><span class="glyphicon glyphicon-floppy-saved"></span></button></td>
                      <td align="center" ng-show="!classVar.editMode">{{classVar.type}}</td>
                      <td align="center" ng-show="classVar.editMode">
                        <input type="text" id="{{'editVartype_'+objects.indexOf(object)+'_'+$index}}" value="{{classVar.type}}" ng-keyup="changeVar(objects.indexOf(object),$index,'type')" placeholder="type" style="width: 100%;box-sizing: border-box;"/>
                      </td>
                      <td align="center"  ng-show="!classVar.editMode">{{classVar.name}}</td>
                      <td align="center"  ng-show="classVar.editMode">
                        <input id="{{'editVarname_'+objects.indexOf(object)+'_'+$index}}" type="text" value="{{classVar.name}}" ng-keyup="changeVar(objects.indexOf(object),$index,'name')" placeholder="type" style="width: 100%;box-sizing: border-box;"/>
                      </td>
                      <td align="center"  ng-show="!classVar.editMode">{{classVar.value}}</td>
                      <td align="center"  ng-show="classVar.editMode">
                        <input id="{{'editVarvalue_'+objects.indexOf(object)+'_'+$index}}" type="text" value="{{classVar.value}}" ng-keyup="changeVar(objects.indexOf(object),$index,'value')" placeholder="type" style="width: 100%;box-sizing: border-box;"/>
                      </td>
                    </tr>



                    <tr ng-show="object.showData">
                      <td></td>
                      <td align="center">
                        <input id="{{'newVarType_'+objects.indexOf(object)}}" type="text" placeholder="type" style="width: 100%;box-sizing: border-box;"/>
                      </td>
                      <td align="center">
                        <input id="{{'newVarName_'+objects.indexOf(object)}}" type="text" placeholder="name" style="width: 100%;box-sizing: border-box;"/>
                      </td>
                      <td align="center">
                        <input id="{{'newVarValue_'+objects.indexOf(object)}}" type="text" placeholder="value" style="width: 100%;box-sizing: border-box;"/>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="4" align="center" ng-show="object.showData">
                        <button class="btn btn-primary" ng-click="addClassVar(objects.indexOf(object))">
                          <span class="glyphicon glyphicon-plus"></span>
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            </div>
          </div>
